.mortgage_calculator {
  width: 100%;
}

.mortgage_calculator .mortgageTermSection {
  width: 100%;
  display: inline-block;
}

.mortgage_calculator .months {
  width: 100%;
  display: inline-block;
  position: relative;
  color: #6F707B;
}

.mortgage_calculator .months input {
  padding-left: 15px;
}

.mortgage_calculator .months:before {
  position: absolute;
  content: "months";
  right: 7px;
  top: 19px;
}

.mortgage_calculator p {
  margin: 0 !important;
  padding: 0 !important;
}

.mortgage_calculator h1 {
  margin: 0 !important;
  padding: 0 !important;
}

.mortgage_calculator h3 {
  text-align: center;
  margin-bottom: 28px;
}

.mortgage_calculator .mortgage_calc_fields {
  background-color: #E7EDF5;
  padding: 15px;
  margin-bottom: 15px;
}

.mortgage_calculator .mortgage_calc_fields .inp_fields .currency_icon {
  position: absolute;
  margin-top: 18px;
  margin-left: 7px;
  color: #6D6D6D;
}

.mortgage_calculator .mortgage_calc_fields .inp_fields .years_icon {
  position: absolute;
  margin-top: 18px;
  margin-left: 220px;
  color: #6D6D6D;
}

.mortgage_calculator .mortgage_calc_fields .inp_fields .months_icon {
  position: absolute;
  margin-top: 18px;
  margin-left: 200px;
  color: #6D6D6D;
}

.mortgage_calculator .mortgage_calc_fields .inp_fields .percentage {
  position: absolute;
  margin-top: 18px;
  margin-left: 570px;
  color: #6D6D6D;
}

.mortgage_calculator .mortgage_calc_fields input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mortgage_calculator .mortgage_calc_fields .typeNumber {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mortgage_calculator .mortgage_calc_fields .typeNumbers {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mortgage_calculator .mortgage_calc_fields .downPament {
  width: 50%;
  float: left;
  padding-right: 10px;
}

.mortgage_calculator .mortgage_calc_fields .downPamentPerc {
  width: 50%;
  float: left;
  padding-left: 10px;
}

.mortgage_calculator .mortgage_calc_fields .mortgageTerm {
  width: 50%;
  float: left;
  padding-right: 10px;
}

.mortgage_calculator .mortgage_calc_fields .mortgageTermMonth {
  width: 50%;
  float: left;
  padding-left: 10px;
}

.mortgage_calculator .mortgage_calc_fields .error {
  border-color: #f44336;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(232, 68, 68, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(232, 68, 68, 0.6);
}

.mortgage_calculator .mortgage_calc_fields .cost_section {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  padding: 15px;
}

.mortgage_calculator .btns .paymentBtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.mortgage_calculator .btns .hidePaymentBtn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.mortgage_calculator .ammortization_section .est_payoff {
  margin-bottom: 65px;
}

.mortgage_calculator .ammortization_section .est_payoff .start_date {
  float: left;
}

.mortgage_calculator .ammortization_section .est_payoff .date_est {
  padding: 0;
  margin-top: -10px;
}

.mortgage_calculator .ammortization_section .est_payoff .est_payoff_date {
  float: right;
}

.mortgage_calculator .ammortization_section .est_payoff .est_payoff_date p {
  position: relative;
  top: -9px;
  right: 15px;
}

.mortgage_calculator .ammortization_section table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.mortgage_calculator .ammortization_section th {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mortgage_calculator .ammortization_section td {
  background-color: #f9f9f9;
}

.mortgage_calculator .ammortization_section th,
.mortgage_calculator .ammortization_section td {
  padding: 10px 18px;
}

.mortgage_calculator .ammortization_section th.active {
  color: #fff;
}

.mortgage_calculator .ammortization_section th.active .arrow {
  opacity: 1;
}

.mortgage_calculator .ammortization_section tr {
  text-align: center;
}

.mortgage_finance_calc {
  width: 100%;
  background-color: #E7EDF5;
  padding: 15px;
}

.mortgage_finance_calc .inp_fields .currency_icon {
  position: absolute;
  margin-top: 18px;
  margin-left: 7px;
  color: #6D6D6D;
}

.mortgage_finance_calc .inp_fields .percentage {
  position: absolute;
  margin-top: 18px;
  margin-left: 240px;
  color: #6D6D6D;
}

.mortgage_finance_calc .inp_fields .years_icon {
  position: absolute;
  margin-top: 18px;
  margin-left: 210px;
  color: #6D6D6D;
}

.mortgage_finance_calc .currentlyMonthlyPaymentSection,
.mortgage_finance_calc .balanceleftonMortgageSection,
.mortgage_finance_calc .remainingLoanTermSection {
  width: 100%;
  display: inline-block;
}

.mortgage_finance_calc p {
  margin: 0 !important;
  padding: 0 !important;
}

.mortgage_finance_calc h1 {
  margin: 0 !important;
  padding: 0 !important;
}

.mortgage_finance_calc h3 {
  text-align: center;
  margin-bottom: 28px;
}

.mortgage_finance_calc .typeNumber {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mortgage_finance_calc .typeNumbers {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mortgage_finance_calc .common {
  width: 50%;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.mortgage_finance_calc .fees_section_points {
  width: 100%;
  clear: both;
  display: inline-block;
}

.mortgage_finance_calc .fees_section_points .points {
  width: 50%;
  float: left;
  padding: 10px;
}

.mortgage_finance_calc .fees_section_points .costPoint {
  width: 50%;
  float: left;
  padding: 10px;
}

.mortgage_finance_calc .fees_section_points .costPoint p {
  margin: 0;
  padding: 0;
  position: relative;
  top: 40px;
  left: 30px;
}

.mortgage_finance_calc .feeSection {
  width: 100%;
  display: inline-block;
}

.mortgage_finance_calc .cost_text {
  padding: 30px 0px 20px 9.5px;
  margin: 0;
}

.mortgage_finance_calc .costs_section {
  padding-left: 7.5px;
  padding-right: 7.5px;
  text-align: center;
  margin: 15px;
}

.mortgage_finance_calc .error {
  border-color: #f44336;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(232, 68, 68, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(232, 68, 68, 0.6);
}

.mortgage_payment_calc {
  width: 100%;
}

.mortgage_payment_calc h4,
.mortgage_payment_calc h5 {
  margin: 7px 0px 0px 0px !important;
  padding: 0;
}

.mortgage_payment_calc h3 {
  text-align: center;
  margin-bottom: 28px;
}

.mortgage_payment_calc .loan-info {
  background-color: #E7EDF5;
  padding: 30px;
}

.mortgage_payment_calc .loan-info .typeNumbersField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mortgage_payment_calc .loan-info .annual_property_insurance {
  margin-bottom: 20px;
}

.mortgage_payment_calc .loan-info .mortgage_payment_pi {
  text-align: center !important;
}

.mortgage_payment_calc .loan-info .mortgage_payment_piti {
  text-align: center;
}

.mortgage_payment_calc .loan-info .inp_fields .currency_icon {
  position: absolute;
  margin-top: 18px;
  margin-left: 7px;
  color: #6D6D6D;
}

.mortgage_payment_calc .loan-info .inp_fields .percentage {
  position: absolute;
  margin-top: 18px;
  margin-left: 520px;
  color: #6D6D6D;
}

.mortgage_payment_calc .loan-info .inp_fields .years_icon {
  position: absolute;
  margin-top: 18px;
  margin-left: 500px;
  color: #6D6D6D;
}

@media (max-width: 500px) {
  .mortgage_calculator .mortgage_calc_fields .inp_fields .years_icon {
    position: absolute;
    margin-top: 18px;
    margin-left: 190px;
    color: #6D6D6D;
  }

  .mortgage_calculator .mortgage_calc_fields .inp_fields .months_icon {
    position: absolute;
    margin-top: 18px;
    margin-left: 150px;
    color: #6D6D6D;
  }

  .mortgage_calculator .mortgage_calc_fields .inp_fields .percentage {
    position: absolute;
    margin-top: 18px;
    margin-left: 170px;
    color: #6D6D6D;
  }
}

@media (max-width: 600px) {
  .mortgage_calculator .mortgage_calc_fields .inp_fields .years_icon {
    position: absolute;
    margin-top: 18px;
    margin-left: 240px;
    color: #6D6D6D;
  }

  .mortgage_calculator .mortgage_calc_fields .inp_fields .months_icon {
    position: absolute;
    margin-top: 18px;
    margin-left: 230px;
    color: #6D6D6D;
  }

  .mortgage_calculator .mortgage_calc_fields .inp_fields .percentage {
    position: absolute;
    margin-top: 18px;
    margin-left: 270px;
    color: #6D6D6D;
  }
}

@media (max-width: 481px) {
  .mortgage_calculator .mortgage_calc_fields .downPament,
  .mortgage_calculator .mortgage_calc_fields .downPamentPerc,
  .mortgage_calculator .mortgage_calc_fields .mortgageTerm,
  .mortgage_calculator .mortgage_calc_fields .mortgageTermMonth {
    width: 100%;
    padding: 0;
    float: none;
  }

  .mortgage_calculator .ammortization_section .est_payoff {
    margin: 0;
  }

  .mortgage_calculator .ammortization_section .est_payoff .start_date {
    float: none;
  }

  .mortgage_calculator .ammortization_section .est_payoff .start_date label {
    margin-bottom: 5px;
    font-weight: 700;
    width: 20%;
    display: inline;
  }

  .mortgage_calculator .ammortization_section .est_payoff .start_date input {
    width: 70%;
    margin-left: 10px;
  }

  .mortgage_calculator .ammortization_section .est_payoff .est_payoff_date {
    margin-top: 10px;
    float: none;
  }

  .mortgage_calculator .ammortization_section .est_payoff .est_payoff_date p {
    position: relative;
    top: -2px;
    right: 0;
    padding: 0;
    display: inline-block;
  }

  .mortgage_calculator .ammortization_section .est_payoff .est_payoff_date .date_est {
    display: inline-block;
  }

  .mortgage_finance_calc .cost_text {
    padding: 20px 0px 0px 0px !important;
    margin: 10px !important;
  }

  .mortgage_finance_calc .common {
    width: 100%;
  }

  .mortgage_finance_calc .fees_section_points .costPoint {
    padding: 0px;
    margin-top: 15px;
  }

  .mortgage_finance_calc .fees_section_points .costPoint p {
    left: 0;
  }
}

